.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 60%;
  left: 50%;
  margin-left: -90px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.fotoh
{
  max-width: 100%;
            max-height: 95vh;
            object-fit: scale-down;
}